<nav class="header__top-navbar">
  <div class="header__top-container">
    <p class="header__welcome-message">Welcome, GUEST</p>
    <ul class="header__top-nav-list">
      <li class="header__top-nav-item-my-account">
        <button class="header__top-nav-button-my-account">
          <span class="material-symbols-outlined"> person </span>
          MY ACCOUNT
        </button>
      </li>
      <li class="header__top-nav-item-need-help">
        <button class="header__top-nav-button-need-help">NEED HELP?</button>
      </li>
    </ul>
  </div>
</nav>
