<nav class="header__top-navbar">
    <p class="header__welcome-message">Welcome, GUEST</p>
    <ul class="header__top-nav-list">
        <li class="header__top-nav-item header__top-nav-item--my-account">
            <button class="header__top-nav-button header__top-nav-button--my-account">MY ACCOUNT</button>
        </li>
        <li class="header__top-nav-item header__top-nav-item--need-help">
            <button class="header__top-nav-button header__top-nav-button--need-help">NEED HELP?</button>
        </li>
    </ul>
</nav>