<nav class="header__main-navbar">
    <div class="header__main-container">
        <a href="index.html">
            <!-- <img class="header__logo" src="https://api.longos.com/medias/logo-desktop.svg?context=bWFzdGVyfGltYWdlc3w4MzAyfGltYWdlL3N2Zyt4bWx8YUdGakwyZ3lPQzg1TmpFMk5qRTVPRFkwTURrMEwyeHZaMjh0WkdWemEzUnZjQzV6ZG1jfGNlNjkyNmJlMTU1OGE2ODM2ZDlmMjljY2NjNGUwY2Q5M2FjYTc4Mzc5NThhOTk3NWY1NmVhMWQ2NDNiNDNhYzE" alt="Longos Site Logo"> -->
        </a>
        <ul>
            
        </ul>
    </div>
</nav>