.header__top-navbar {
  background-color: var(--color-background-top-navbar);
  color: #fff;
  height: 36px;
  font-weight: 500;
  /* font-size: smaller; */
  display: flex;
  justify-content: center;
}

.header__top-container {
  background-color: aquamarine;
  width: 1296px;
  padding: 0px 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__welcome-message {
  background-color: blueviolet;

  display: flex;
  align-items: center;
}

.header__top-nav-list {
  background-color: chocolate;

  display: flex;
  align-items: center;
}
.header__top-nav-item-my-account {
  margin-right: 54px;
}
.header__top-nav-button-my-account svg {
  margin-right: 11px;
}

.header__top-nav-button-my-account {
  background-color: rgb(166, 166, 65);
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.header__top-nav-button-need-help {
  background-color: cadetblue;
  padding: 0px 0px 0px 10px;
}

.header__top-dropdown-menu {
  background-color: cornflowerblue;
  display: none;
}
